html
  head
  body
    button(mat-button='') Click me!

//abre outra aba com
//- a(href="https://" + "google" +  ".com", target="_blank") google.com


//- a(class='button' href='https://pugjs.org/language/attributes.html') Google

